# Dataosuces declaration

## IMDB Datasource

In [1]:
from imdb import IMDb
imdb = IMDb()
[ (x.data['title'], x.data['rating']) for x in imdb.get_top250_movies() ][0:25]

[('The Shawshank Redemption', 9.2),
 ('The Godfather', 9.2),
 ('The Godfather: Part II', 9.0),
 ('The Dark Knight', 9.0),
 ('12 Angry Men', 8.9),
 ("Schindler's List", 8.9),
 ('The Lord of the Rings: The Return of the King', 8.9),
 ('Pulp Fiction', 8.9),
 ('The Good, the Bad and the Ugly', 8.8),
 ('Fight Club', 8.8),
 ('The Lord of the Rings: The Fellowship of the Ring', 8.8),
 ('Forrest Gump', 8.7),
 ('Star Wars: Episode V - The Empire Strikes Back', 8.7),
 ('Inception', 8.7),
 ('The Lord of the Rings: The Two Towers', 8.7),
 ("One Flew Over the Cuckoo's Nest", 8.7),
 ('Goodfellas', 8.7),
 ('The Matrix', 8.6),
 ('Seven Samurai', 8.6),
 ('Se7en', 8.6),
 ('City of God', 8.6),
 ('Star Wars: Episode IV - A New Hope', 8.6),
 ('The Silence of the Lambs', 8.6),
 ("It's a Wonderful Life", 8.6),
 ('Life Is Beautiful', 8.6)]

## MovieLens Datasource

In [2]:
import urllib.request
import zipfile

url = 'http://files.grouplens.org/datasets/movielens/ml-20m.zip'
download_path = './data/ml-20m.zip'
extract_path = './data/'

# urllib.request.urlretrieve(url, download_path)

# with zipfile.ZipFile(download_path, 'r') as zip:
#     zip.extractall(extract_path)

In [3]:
datasets = {
    'genome-scores': './data/ml-20m/genome-scores.csv',
    'genome-tags': './data/ml-20m/genome-tags.csv',
    'links': './data/ml-20m/links.csv',
    'movie': './data/ml-20m/movies.csv',
    'ratings': './data/ml-20m/ratings.csv',
    'tags': './data/ml-20m/tags.csv',
}

# Data Profiling

In [4]:
import pandas_profiling
import pandas as pd

def read(dataset):
    print('Reading: ', datasets[dataset])
    return pd.read_csv(datasets[dataset])

In [5]:
from IPython.display import display

for dataset_k in datasets:
    df = read(dataset_k)
    display(df.head())

Reading:  ./data/ml-20m/genome-scores.csv

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675

Reading:  ./data/ml-20m/genome-tags.csv

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

Reading:  ./data/ml-20m/links.csv

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

Reading:  ./data/ml-20m/movies.csv

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

Reading:  ./data/ml-20m/ratings.csv

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

Reading:  ./data/ml-20m/tags.csv

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [17]:
genome_tags = read('genome-tags')
tags = read('tags')

genome_tags.merge(tags, on='tag').groupby(['tagId','tag']).mean()

Reading:  ./data/ml-20m/genome-tags.csv
Reading:  ./data/ml-20m/tags.csv

                                 userId       movieId     timestamp
tagId tag
1     007                  65271.814103  10511.923077  1.202218e+09
2     007 (series)         34201.754098  25721.852459  1.275241e+09
3     18th century         63920.747253  22978.197802  1.284943e+09
4     1920s                77866.673913  51179.347826  1.303182e+09
5     1930s                70185.000000  30856.907801  1.300783e+09
6     1950s                70168.492188  26846.234375  1.298529e+09
7     1960s                74204.989474  31213.552632  1.296758e+09
8     1970s                70166.606557  32157.480874  1.308157e+09
9     1980s                65252.158076  23828.910653  1.295210e+09
10    19th century         73875.524862  36285.762431  1.295575e+09
11    3d                   65720.253731  76931.343284  1.287202e+09
12    70mm                114273.298625   6556.088409  1.252859e+09
13    80s                  62949.080460   9696.896552  1.282110e+09
14    9/11                 76855.019231  48725.057692  1.285496e+09
15    aardman              80113.750000   2992.416667  1.199578e+09
17    abortion             63449.028571  47663.971429  1.298231e+09
18    absurd               64680.794326  37208.907801  1.333543e+09
19    action               68682.585623  33462.440723  1.309158e+09
20    action packed        64367.421053  44737.026316  1.331371e+09
21    adaptation           62790.000000  27242.222222  1.261840e+09
22    adapted from:book    32720.808274  32852.510595  1.282908e+09
23    adapted from:comic   45913.760504  37517.542017  1.270200e+09
24    adapted from:game    34729.840909  13146.909091  1.254271e+09
25    addiction            65270.335025  21973.604061  1.285838e+09
26    adolescence          64861.163636  17114.445455  1.297443e+09
27    adoption             83299.081633  49637.244898  1.288807e+09
28    adultery             56840.189759  31317.349398  1.282948e+09
29    adventure            69591.090105  28383.967820  1.306373e+09
30    affectionate         38774.875000   6327.430556  1.238091e+09
34    africa               69499.680000  27882.120000  1.288376e+09
...                                 ...           ...           ...
1098  wartime              85147.147059   6607.470588  1.261338e+09
1099  waste of time        60876.100000  49784.600000  1.281677e+09
1100  watch the credits    73878.807947  73295.933775  1.348004e+09
1101  weapons              66586.261905  51121.928571  1.267709e+09
1102  wedding              67656.798507  30474.895522  1.267671e+09
1103  weed                 71412.681818  42963.022727  1.311728e+09
1104  weird                67563.117647  27019.585882  1.341518e+09
1105  werewolf             67236.070000  19281.080000  1.269061e+09
1106  werewolves           66409.956204  26157.897810  1.280377e+09
1107  western              74306.437931  26724.537931  1.307955e+09
1108  whimsical            65849.861809  18576.701005  1.292205e+09
1109  wilderness           62529.875000  53297.093750  1.314204e+09
1110  wine                 75766.958333  28187.958333  1.274234e+09
1111  wistful              51857.307692   5565.584615  1.245114e+09
1112  witch                64090.236364  32673.745455  1.300935e+09
1113  witches              47751.750000  19170.361111  1.286156e+09
1114  witty                66081.573171  26321.513720  1.313039e+09
1115  wizards              63253.891566  14881.096386  1.346522e+09
1116  women                74958.735849  10495.893082  1.345079e+09
1117  working class        68763.163636  15807.509091  1.296101e+09
1118  workplace            76663.348837  20485.406977  1.272333e+09
1119  world politics       79255.400000  31203.000000  1.238280e+09
1121  world war ii         58850.111111  59682.111111  1.410295e+09
1122  writer's life        77463.000000  44555.000000  1.357486e+09
1123  writers              80521.114130  37792.668478  1.302340e+09
1124  writing              82855.956522  45300.405797  1.300721e+09
1125  wuxia                48639.932203  28167.745763  1.272840e+09
1126  wwii                 89071.357143  14876.714286  1.332950e+09
1127  zombie               49459.973451  12569.159292  1.253931e+09
1128  zombies              62515.241695  39366.953036  1.292305e+09

[1082 rows x 3 columns]

# ETL

In [ ]:
def transform(*args):
    yield tuple(
        map(str.title, args)
    )

In [ ]:
def load(*args):
    print(*args)

In [7]:
import bonobo

graph = bonobo.Graph()
graph.add_chain(extract, transform, load)

GraphRange(graph=<bonobo.structs.graphs.Graph object at 0x7f5aae83fb38>, input=0, output=2)

In [8]:
bonobo.run(graph)

BonoboWidget()

ERROR:bonobo.execution.contexts.base:<NodeExecutionContext(+transform) in=1 err=1>
Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/site-packages/bonobo/execution/contexts/node.py", line 102, in loop
    self.step()
  File "/opt/conda/lib/python3.6/site-packages/bonobo/execution/contexts/node.py", line 140, in step
    result = next(results)
  File "<ipython-input-6-0bb4b8f1e12a>", line 9, in transform
    map(str.title, args)
TypeError: descriptor 'title' requires a 'str' object but received a 'int'
ERROR:bonobo.execution.contexts.base:<NodeExecutionContext(+transform) in=2 err=2>
Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/site-packages/bonobo/execution/contexts/node.py", line 102, in loop
    self.step()
  File "/opt/conda/lib/python3.6/site-packages/bonobo/execution/contexts/node.py", line 140, in step
    result = next(results)
  File "<ipython-input-6-0bb4b8f1e12a>", line 9, in transform
    map(str.title, args)
TypeError: descriptor 'title' requires a 'str' object but received a 'int'
ERROR:bonobo.execution.contexts.base:<NodeExecutionContext(+transform) in=3 err=3>
Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/site-packages/bonobo/execution/contexts/node.py", line 102, in loop
    self.step()
  File "/opt/conda/lib/python3.6/site-packages/bonobo/execution/contexts/node.py", line 140, in step
    result = next(results)
  File "<ipython-input-6-0bb4b8f1e12a>", line 9, in transform
    map(str.title, args)
TypeError: descriptor 'title' requires a 'str' object but received a 'int'
ERROR:bonobo.execution.contexts.base:<NodeExecutionContext(+transform) in=4 err=4>
Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/site-packages/bonobo/execution/contexts/node.py", line 102, in loop
    self.step()
  File "/opt/conda/lib/python3.6/site-packages/bonobo/execution/contexts/node.py", line 140, in step
    result = next(results)
  File "<ipython-input-6-0bb4b8f1e12a>", line 9, in transform
    map(str.title, args)
TypeError: descriptor 'title' requires a 'str' object but received a 'int'
ERROR:bonobo.execution.contexts.base:<NodeExecutionContext(+transform) in=5 err=5>
Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/site-packages/bonobo/execution/contexts/node.py", line 102, in loop
    self.step()
  File "/opt/conda/lib/python3.6/site-packages/bonobo/execution/contexts/node.py", line 140, in step
    result = next(results)
  File "<ipython-input-6-0bb4b8f1e12a>", line 9, in transform
    map(str.title, args)
TypeError: descriptor 'title' requires a 'str' object but received a 'int'
ERROR:bonobo.execution.contexts.base:<NodeExecutionContext(+transform) in=6 err=6>
Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/site-packages/bonobo/execution/contexts/node.py", line 102, in loop
    self.step()
  File "/opt/conda/lib/python3.6/site-packages/bonobo/execution/contexts/node.py", line 140, in step
    result = next(results)
  File "<ipython-input-6-0bb4b8f1e12a>", line 9, in transform
    map(str.title, args)
TypeError: descriptor 'title' requires a 'str' object but received a 'int'
ERROR:bonobo.execution.contexts.base:<NodeExecutionContext(+transform) in=7 err=7>
Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/site-packages/bonobo/execution/contexts/node.py", line 102, in loop
    self.step()
  File "/opt/conda/lib/python3.6/site-packages/bonobo/execution/contexts/node.py", line 140, in step
    result = next(results)
  File "<ipython-input-6-0bb4b8f1e12a>", line 9, in transform
    map(str.title, args)
TypeError: descriptor 'title' requires a 'str' object but received a 'int'
ERROR:bonobo.execution.contexts.base:<NodeExecutionContext(+transform) in=8 err=8>
Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/site-packages/bonobo/execution/contexts/node.py", line 102, in loop
    self.step()
  File "/opt/conda/lib/python3.6/site-packages/bonobo/execution/contexts/node.py", line 140, in step
    result = next(results)
  File "<ipython-input-6-0bb4b8f1e12a>", line 9, in transform
    map(str.title, args)
TypeError: descriptor 'title' requires a 'str' object but received a 'int'
ERROR:bonobo.execution.contexts.base:<NodeExecutionContext(+transform) in=9 err=9>
Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/site-packages/bonobo/execution/contexts/node.py", line 102, in loop
    self.step()
  File "/opt/conda/lib/python3.6/site-packages/bonobo/execution/contexts/node.py", line 140, in step
    result = next(results)
  File "<ipython-input-6-0bb4b8f1e12a>", line 9, in transform
    map(str.title, args)
TypeError: descriptor 'title' requires a 'str' object but received a 'int'